[submodule "Tools/DevSecretsManagerPs"]
	path = Tools/DevSecretsManagerPs
	url = https://github.com/Satancito/DevSecretsManagerPs.git
[submodule "Tools/DotnetNuGetPublisherPs"]
	path = Tools/DotnetNuGetPublisherPs
	url = https://github.com/Satancito/DotnetNuGetPublisherPs.git
[submodule "Tools/DotnetSemVerPs"]
	path = Tools/DotnetSemVerPs
	url = https://github.com/Satancito/DotnetSemVerPs.git
